

.form-container{
    height: 100vh;
    display: flex;
     align-items: center;
    justify-content: center;
}

form{
background-color: #fefefe;
width: 700px;
height: 900px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 4em;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
border-radius: 10px; /* لإضافة زوايا مدورة */

}
.form-header{
    font-size: 1.1em;
    margin-top: 2em;
    
}
.form-body{    
    width: 90%;
    height: 600px;
  
 display:flex;
 flex-direction: column;
 align-items: center;
 
 gap: 30px;
 padding: 10px;
}
.form-body .form-group {
   width: 500px;
   height: 100%;
  
 
}
.form-body .form-group  input {
    border-radius: 10px;
    border: 1px solid #ccc;
        padding: 10px;
    font-size: 1.5em;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
 }



.form-body .form-group .phone-input input {
    width: 90%; 
    padding-left: 50px; 
}
.form-footer{
    position: relative;
    display: flex;
     left: 3em;
     top: 1em;
    flex-direction: column;
    bottom: 40px;
    width: 500px;
    height: 300px;
    direction: rtl;
    
    
  
}
.form-footer button{

    width: 20%;
    
    margin-left: 30em;
}
.form-footer p{

    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5em;
  
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  button {
    background-color: #278ee9bf;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0966b7;
  }

  .icon {
   position: absolute;
   left: 55.2%;
   margin-top: 12px;
   

    color: #278ee9bf;
    font-size: 1.4rem;
  }

  .form-body .form-group .custom-select{
    padding: 10px;
 height: 50px;
  font-size: 1.4em;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}



.form-footer .btn2{
 width: 50%;
 font-size: 1em;
  margin-bottom: 3em;
  margin-right: 9em;
    
}

.form-footer .checkbox-container{
position: absolute;
right: 110%;
gap: 10px;
    margin-top: 2px;
}


  .checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    
  }
 .form-footer .error-message{
  position: absolute;
  font-size: 1.1em;
  top: 40%;
  right: 1%;

 }

 .form-footer .btn-countainer{

  
 }