.howItWork {
    position: relative;
    top: 13em;
    left: 40%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
   
    
    
  }
  
  .heading h2 {
    font-size: 2em;
    margin-bottom: 2em;
  }
  
  .howItWork .cardCountinar {
    
    display: flex;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center; 
  }
  
  .howItWork .cardCountinar .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-color: #519bdc31;
    border-radius: 30px;
    padding: 10px 20px;
  }
  
  .howItWork .cardCountinar .card span {
    color: #278de9;
    font-size: 4em;
  }
  .howItWork .cardCountinar .card p {
    color: #000000;
    font-size: 20px;
    padding: 15px;
  }


  @media (max-width: 1920px) {
    .heading h2 {
      font-size: 1em;
      margin-bottom: 2em;
    }
    .howItWork {
      position: relative;
      top: 13em;
      left: 40%;
      transform: translateX(-50%); 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5em;
    }

    .howItWork .cardCountinar .card {
        width: 300px;
        padding: 8px 16px;
    }

    .howItWork .cardCountinar .card span {
        font-size: 2.5em;
    }
}

@media (max-width: 1280px) {
    .howItWork {
        top: 5em;
        gap: 2em;
    }

    .howItWork .cardCountinar .card {
        padding: 5px 10px;
    }

    .howItWork .cardCountinar .card span {
        font-size: 2.5em;
    }
}

@media (min-width: 3840px) {
    .howItWork {
        top: 15em;
        gap: 6em;
    }

    .howItWork .cardCountinar .card span {
        font-size: 5em;
    }

    .howItWork .cardCountinar .card p {
        font-size: 1.2em;
    }
}